:root {
  --black: #2b2b2b;
  --light-blue: #00B0F0;
  --dark-black: #0a0a0a;
  --surrey-blue: #002868;
  --orange: #ff6608;
  --dark-blue: #0505FF;
}

/** Custom fonts **/
@font-face {
  font-family: m20;
  src: url('../Assets/Fonts/m20_sp_ranker/m20.TTF');
}

@font-face {
  font-family: pumpkin_cheesecake;
  src: url('../Assets/Fonts/pumpkin_cheesecake/PumpkinCheesecake.otf');
}

@font-face {
  font-family: stanberry;
  src: url('../Assets/Fonts/stanberry/Stanberry.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: auto;
  font-family: stanberry;
  font-size: 18px;
  background-color: var(--black);
}

h1 {
  font-family: m20;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: pumpkin_cheesecake;
  font-size: 25px;
  font-weight: none;
}

h3 {
  font-size: 18px;
}

/* Hyperlinks */
a {
  color: black;
}

a:hover {
  color: #78960e;
}

a:active {
  color: purple;
}

span {
  color: purple;
  font-weight: bold;
}

video {
  width: 100%
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, white, grey);
  border-radius: 10px;
}

/* WebKit and Blink browsers text selection */
::selection {
  background: yellow;
  color: black;
}

/* Gecko Browsers text selection */
::-moz-selection {
  background: yellow;
  color: black;
}

.title {
  position: relative;
  top: -20px;
  padding: 30px;
  color: white;
}

/* The whole timeline */
.timeline {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
}

/* Timeline bar */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 20px;
  bottom: 0px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: grey;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid purple;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent purple;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid purple;
  border-width: 10px 10px 10px 0;
  border-color: transparent purple transparent transparent;
}

.project1::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--light-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--light-blue) transparent transparent;
}

.project2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--dark-black);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--dark-black);
}

.project3::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--surrey-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--surrey-blue) transparent transparent;
}

.project4::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid red;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent red;
}

.project5::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--orange);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--orange) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

.header {
  background-color: purple;
  padding: 20px;
  position: relative;
  top: -20px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.project1-header {
  background-color: var(--light-blue);
}

.project2-header {
  background-color: var(--dark-black);
}

.project3-header {
  background-color: var(--surrey-blue);
}

.project4-header {
  background-color: red;
}

.project5-header {
  background-color: var(--orange);
}

.project1-span {
  color: var(--light-blue);
}

.project2-span {
  color: var(--dark-black);
}

.project3-span {
  color: var(--surrey-blue);
}

.project4-span {
  color: red;
}

.project5-span {
  color: var(--orange);
}

/* The actual content */
.content {
  padding: 3px 20px;
  background-color: white;
  position: relative;
  top: -42px;
  border-radius: 0px 0px 10px 10px;
}

.project2 {
  margin-bottom: -500px;
}

.project3 {
  margin-bottom: -350px;
}

.project4 {
  margin-bottom: -620px;
}

.icon-container {
  position: relative;
}

.icon {
  height: 30px;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-text {
  padding-left: 43px;
}

.centered {
  text-align: center;
}

.tool-container {
  padding: 8px;
  display: inline-block;
  min-width: 90px;
}

.tool-container p {
  text-align: center;
  font-size: 15px;
}

.tool-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
}

@media screen and (max-width: 900px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  margin-bottom: 0px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid purple;
  border-width: 10px 10px 10px 0;
  border-color: transparent purple transparent transparent;
  }

  .project1::before {
    left: 60px;
    border: medium solid var(--light-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--light-blue) transparent transparent;
  }

  .project2::before {
    left: 60px;
    border: medium solid var(--dark-black);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--dark-black) transparent transparent;
  }

  .project3::before {
    left: 60px;
    border: medium solid var(--surrey-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--surrey-blue) transparent transparent;
  }

  .project4::before {
    left: 60px;
    border: medium solid red;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
  }

  .project5::before {
    left: 60px;
    border: medium solid var(--orange);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--orange) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
