:root {
  --black: #2b2b2b;
  --light-blue: #00B0F0;
  --dark-black: #0a0a0a;
  --surrey-blue: #002868;
  --orange: #ff6608;
  --dark-blue: #0505FF;
  --ga-blue: #B4C7E7;
  --purple: #4100BD;
  --red: #ED1515;
  --green: #3CA811;
  --stan-red: #B2001D;
  --gold: #FFBA21;
  --light-orange: #ff931f;
  --plasmid-pink: #fc495e;
  --bright-pink: #ff0df7;
  --pyramid-yellow: #ffd966;
  --magic-green: #a5c246;
  --hmm-grey: #616161;
  --hopfield-pink: #de68ea;
  --phylogenetic-orange: #F9972B;
  --wright-fisher-purple: #A45EE4;
  --gillespie-blue: #1F87FF;
  --cancer-evolution-purple: #8A2BE2;
  --metastatic-blue: #003E72;
}

/** Custom fonts **/
@font-face {
  font-family: m20;
  src: url('../Assets/Fonts/m20_sp_ranker/m20.TTF');
}

@font-face {
  font-family: pumpkin_cheesecake;
  src: url('../Assets/Fonts/pumpkin_cheesecake/PumpkinCheesecake.otf');
}

@font-face {
  font-family: stanberry;
  src: url('../Assets/Fonts/stanberry/Stanberry.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: auto;
  font-family: stanberry;
  font-size: 18px;
  background-color: var(--black);
}

h1 {
  font-family: m20;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: pumpkin_cheesecake;
  font-size: 25px;
  font-weight: none;
}

h3 {
  font-size: 18px;
}

/* Hyperlinks */
a {
  color: black;
}

a:hover {
  color: #78960e;
}

a:active {
  color: purple;
}

span {
  color: purple;
  font-weight: bold;
}

video {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, white, grey);
  border-radius: 10px;
}

/* WebKit and Blink browsers text selection */
::selection {
  background: yellow;
  color: black;
}

/* Gecko Browsers text selection */
::-moz-selection {
  background: yellow;
  color: black;
}

.title {
  position: relative;
  top: -20px;
  padding: 30px;
  color: white;
}

/* The whole timeline */
.timeline {
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
}

/* Timeline bar */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 20px;
  bottom: 0px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: grey;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid purple;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent purple;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid purple;
  border-width: 10px 10px 10px 0;
  border-color: transparent purple transparent transparent;
}

.obstacle-course::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--light-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--light-blue) transparent transparent;
}

.wrench-mask::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--dark-black);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--dark-black);
}

.subs::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--surrey-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--surrey-blue) transparent transparent;
}

.sinhala-ocr::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--gold);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--gold);
}

.vigenere-cracker::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--orange);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--orange) transparent transparent;
}

.ecg-classifier::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--purple);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--purple);
}

.nsga-ii::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--bright-pink);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--bright-pink);
}

.ga-nn::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--ga-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--ga-blue) transparent transparent;
}

.genre-predictor::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--red);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--red) transparent transparent;
}

.clustering-tda::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--green);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--green);
}

.bayesian-mm::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--light-orange);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--light-orange) transparent transparent;
}

.plasmid::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--plasmid-pink);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--plasmid-pink);
}

.stan-mm::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--stan-red);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--stan-red) transparent transparent;
}

.pyramid::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--pyramid-yellow);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--pyramid-yellow);
}

.magic-19::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--magic-green);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--magic-green) transparent transparent;
}

.hopfield::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--hopfield-pink);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--hopfield-pink);
}

.gsa-hmm::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--hmm-grey);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--hmm-grey) transparent transparent;
}

.cancer-evolution::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--cancer-evolution-purple);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--cancer-evolution-purple);
}

.metastatic-patterns::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--metastatic-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--metastatic-blue) transparent transparent;
}

.wright-fisher::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--wright-fisher-purple);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--wright-fisher-purple) transparent transparent;
}

.phylogenetic-tree::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  right: 30px;
  border: medium solid var(--phylogenetic-orange);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--phylogenetic-orange);
}

.gillespie-mrna::before {
  content: " "; height: 0; position: absolute; top: 22px; width: 0; z-index: 1;
  left: 30px;
  border: medium solid var(--gillespie-blue);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--gillespie-blue) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

.header {
  background-color: purple;
  padding: 20px;
  position: relative;
  top: -20px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}

.obstacle-course-header {
  background-color: var(--light-blue);
}

.wrench-mask-header {
  background-color: var(--dark-black);
}

.subs-header {
  background-color: var(--surrey-blue);
}

.sinhala-ocr-header {
  background-color: var(--gold);
}

.vigenere-cracker-header {
  background-color: var(--orange);
}

.ecg-classifier-header {
  background-color: var(--purple);
}

.nsga-ii-header {
  background-color: var(--bright-pink);
}

.ga-nn-header {
  background-color: var(--ga-blue);
}

.genre-predictor-header {
  background-color: var(--red);
}

.clustering-tda-header {
  background-color: var(--green);
}

.bayesian-mm-header {
  background-color: var(--light-orange);
}

.plasmid-header {
  background-color: var(--plasmid-pink);
}

.stan-mm-header {
  background-color: var(--stan-red);
}

.pyramid-header {
  background-color: var(--pyramid-yellow);
}

.magic-19-header {
  background-color: var(--magic-green);
}

.hopfield-header {
  background-color: var(--hopfield-pink);
}

.gsa-hmm-header {
  background-color: var(--hmm-grey);
}

.cancer-evolution-header {
  background-color: var(--cancer-evolution-purple);
}

.metastatic-patterns-header {
  background-color: var(--metastatic-blue);
}

.phylogenetic-tree-header {
  background-color: var(--phylogenetic-orange);
}

.wright-fisher-header {
  background-color: var(--wright-fisher-purple);
}

.gillespie-mrna-header {
  background-color: var(--gillespie-blue);
}

.obstacle-course-span {
  color: var(--light-blue);
}

.wrench-mask-span {
  color: var(--dark-black);
}

.subs-span {
  color: var(--surrey-blue);
}

.sinhala-ocr-span {
  color: var(--gold);
}

.vigenere-cracker-span {
  color: var(--orange);
}

.ecg-classifier-span {
  color: var(--purple);
}

.nsga-ii-span {
  color: var(--bright-pink);
}

.ga-nn-span {
  color: var(--ga-blue);
}

.-span {
  color: var(--ga-blue);
}

.genre-predictor-span {
  color: var(--red);
}

.clustering-tda-span {
  color: var(--green);
}

.bayesian-mm-span {
  color: var(--light-orange);
}

.plasmid-span {
  color: var(--plasmid-pink);
}

.stan-mm-span {
  color: var(--stan-red);
}

.pyramid-span {
  color: var(--pyramid-yellow);
}

.magic-19-span {
  color: var(--magic-green);
}

.hopfield-span {
  color: var(--hopfield-pink);
}

.gsa-hmm-span {
  color: var(--hmm-grey);
}

.cancer-evolution-span {
  color: var(--cancer-evolution-purple);
}

.metastatic-patterns-span {
  color: var(--metastatic-blue);
}

.phylogenetic-tree-span {
  color: var(--phylogenetic-orange);
}

.wright-fisher-span {
  color: var(--wright-fisher-purple);
}

.gillespie-mrna-span {
  color: var(--gillespie-blue);
}

/* The actual content */
.content {
  padding: 3px 20px;
  background-color: white;
  position: relative;
  top: -42px;
  border-radius: 0px 0px 10px 10px;
}

.wrench-mask {
  margin-bottom: -500px;
}

.subs {
  margin-bottom: -350px;
}

.sinhala-ocr {
  margin-bottom: -770px;
}

.vigenere-cracker {
  margin-bottom: -80px;
}

.nsga-ii {
  margin-bottom: -580px;
}

.ga-nn {
  margin-bottom: -40px;
}

.ecg-classifier {
  margin-bottom: -770px;
}

.genre-predictor {
  margin-bottom: -450px;
}

.clustering-tda {
  margin-bottom: -550px;
}

.bayesian-mm {
  margin-bottom: -600px;
}

.plasmid {
  margin-bottom: -490px;
}

.stan-mm {
  margin-bottom: -760px;
}

.pyramid {
  margin-bottom: -100px;
}

.magic-19 {
  margin-bottom: -760px;
}

.hopfield {
  margin-bottom: -200px;
}

.gsa-hmm {
  margin-bottom: -470px;
}

.cancer-evolution {
  margin-bottom: -410px;
}

.metastatic-patterns {
  margin-bottom: -370px;
}

.phylogenetic-tree {
  margin-bottom: -570px;
}

.wright-fisher {
  margin-bottom: -260px;
}

.gillespie-mrna {
  margin-bottom: -630px;
}

.icon-container {
  position: relative;
}

.icon {
  height: 30px;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.icon-text {
  padding-left: 43px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  margin-right: 0;
}

.centered {
  text-align: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -17px;
}

.tool-container {
  padding: 8px;
  display: inline-block;
  min-width: 90px;
  margin-top: -7px;
}

.tool-container p {
  text-align: center;
  font-size: 15px;
}

.tool-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
}

@media screen and (max-width: 880px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  margin-bottom: 0px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid purple;
  border-width: 10px 10px 10px 0;
  border-color: transparent purple transparent transparent;
  }

  .obstacle-course::before {
    left: 60px;
    border: medium solid var(--light-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--light-blue) transparent transparent;
  }

  .wrench-mask::before {
    left: 60px;
    border: medium solid var(--dark-black);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--dark-black) transparent transparent;
  }

  .subs::before {
    left: 60px;
    border: medium solid var(--surrey-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--surrey-blue) transparent transparent;
  }

  .sinhala-ocr::before {
    left: 60px;
    border: medium solid var(--gold);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--gold) transparent transparent;
  }

  .vigenere-cracker::before {
    left: 60px;
    border: medium solid var(--orange);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--orange) transparent transparent;
  }

  .ecg-classifier::before {
    left: 60px;
    border: medium solid var(--purple);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--purple) transparent transparent;
  }

  .nsga-ii::before {
    left: 60px;
    border: medium solid var(--bright-pink);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--bright-pink) transparent transparent;
  }

  .ga-nn::before {
    left: 60px;
    border: medium solid var(--ga-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--ga-blue) transparent transparent;
  }

  .genre-predictor::before {
    left: 60px;
    border: medium solid var(--red);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--red) transparent transparent;
  }

  .clustering-tda::before {
    left: 60px;
    border: medium solid var(--green);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--green) transparent transparent;
  }

  .bayesian-mm::before {
    left: 60px;
    border: medium solid var(--light-orange);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--light-orange) transparent transparent;
  }

  .plasmid::before {
    left: 60px;
    border: medium solid var(--plasmid-pink);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--plasmid-pink) transparent transparent;
  }

  .stan-mm::before {
    left: 60px;
    border: medium solid var(--stan-red);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--stan-red) transparent transparent;
  }

  .pyramid::before {
    left: 60px;
    border: medium solid var(--pyramid-yellow);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--pyramid-yellow) transparent transparent;
  }

  .magic-19::before {
    left: 60px;
    border: medium solid var(--magic-green);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--magic-green) transparent transparent;
  }

  .hopfield::before {
    left: 60px;
    border: medium solid var(--hopfield-pink);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--hopfield-pink) transparent transparent;
  }

  .gsa-hmm::before {
    left: 60px;
    border: medium solid var(--hmm-grey);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--hmm-grey) transparent transparent;
  }

  .cancer-evolution::before {
    left: 60px;
    border: medium solid var(--cancer-evolution-purple);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--cancer-evolution-purple) transparent transparent;
  }

  .metastatic-patterns::before {
    left: 60px;
    border: medium solid var(--metastatic-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--metastatic-blue) transparent transparent;
  }

  .phylogenetic-tree::before {
    left: 60px;
    border: medium solid var(--phylogenetic-orange);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--phylogenetic-orange) transparent transparent;
  }

  .wright-fisher::before {
    left: 60px;
    border: medium solid var(--wright-fisher-purple);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--wright-fisher-purple) transparent transparent;
  }

  .gillespie-mrna::before {
    left: 60px;
    border: medium solid var(--gillespie-blue);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--gillespie-blue) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
